/* login.page.scss */
.logo {
  width: 150px;
  height: 150px;
}

.social-media-login {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.additional-links {
  text-align: center;
  margin-top: 20px;
}
