<ion-header [translucent]="true">
  <ion-toolbar class="insta-feed-header">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="camera"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="insta-font"> Feed </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="tv"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="paper-plane"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-segment scrollable class="status-wrapper">
    <ion-segment-button
      class="status-item own-status"
      [routerLink]="['/business/purchase/landmine']"
    >
      <ion-avatar>
        <img
          src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"
        />
      </ion-avatar>
      <ion-label aria-label="your story">Create</ion-label>
      <!-- <ion-icon name="add" class="plus-icon"></ion-icon> -->
    </ion-segment-button>

    <ion-segment-button
      *ngFor="let l of landmines"
      class="status-item other-status"
      [routerLink]="['/landmine',l.id]"
    >
      <ion-avatar>
        <img [src]="l.imageUrl" />
      </ion-avatar>
      <ion-label aria-label="username">{{l.name}}</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-card class="feed-card" *ngFor="let feed of feedList">
    <ion-card-content class="feed-user-wrapper">
      <div class="ion-align-items-center user-image-wrapper">
        <img [src]="feed.userImage" />
      </div>
      <div class="user-details">
        <p class="user-name">{{feed.username}}</p>
        <p class="user-place">{{feed.userPlace}}</p>
      </div>
      <ion-buttons class="ion-float-right">
        <ion-button (click)="saveVoucher(feed)">
          <ion-icon
            [color]="feed.saved?'success':''"
            name="bookmark"
          ></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-card-content>
    <div class="feed-slides-wrapper">
      <swiper-container class="feed-slides">
        <swiper-slide *ngFor="let image of feed.slides"
          ><img [src]="image"
        /></swiper-slide>
      </swiper-container>
      <!-- <ion-slides pager="true" [options]="slideOpts" class="feed-slides">
          <ion-slide *ngFor="let slide of feed.slides">
            <img [src]="slide.image"/>
          </ion-slide>
        </ion-slides> -->

      <div class="feed-btn-wrapper">
        <ion-buttons class="ion-float-left">
          <ion-button [routerLink]="['/map']">
            <ion-icon name="navigate"></ion-icon>
            <div>{{feed.distanceAway | number:'0.2'}} Miles</div>
          </ion-button>
          <ion-button>
            <ion-icon name="heart"></ion-icon>
          </ion-button>
          <ion-button>
            <ion-icon name="chatbubbles"></ion-icon>
          </ion-button>
          <!-- <ion-button>
            <ion-icon name="paper-plane"></ion-icon>
          </ion-button> -->
        </ion-buttons>

        <ion-buttons class="ion-float-right">
          <ion-button (click)="saveVoucher(feed)">
            <ion-icon
              [color]="feed.saved?'success':''"
              name="bookmark"
            ></ion-icon>
          </ion-button>
        </ion-buttons>
      </div>
    </div>
    <ion-card-content class="feed-details-container">
      <p><strong>{{feed.likes}} likes</strong></p>
      <p class="user-given-details">
        <ion-avatar>
          <img [src]="feed.userImage" />
        </ion-avatar>
        <strong class="user-name">{{feed.username}} </strong>
        <span class="feed-text">{{feed.blastText}}</span>
        <span class="grey-text"> more</span>
      </p>
      <p class="all-comments">
        <span
          class="grey-text"
          *ngIf="!feed.viewAllComments "
          (click)="feed.viewAllComments = true"
          >View All Comments</span
        >
        <app-comments *ngIf="feed.viewAllComments"></app-comments>
      </p>

      <p class="post-time"><span class="grey-text">{{feed.time}}</span></p>
    </ion-card-content>
  </ion-card>
</ion-content>
<app-bottom-toolbar></app-bottom-toolbar>
