<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-buttons slot="start">
        <ion-menu-button autoHide="false"></ion-menu-button>
      </ion-buttons>
      {{ profileName }}
      <ion-icon name="chevron-down" id="open-action-sheet"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-action-sheet
    trigger="open-action-sheet"
    header="Actions"
    [buttons]="profiles"
  ></ion-action-sheet>
  <ion-grid class="profile-intro">
    <ion-row>
      <ion-col col-4>
        <app-avatar-photo [photoUrl]="profileUrl" [name]="profileName">
          {{profileName}}
        </app-avatar-photo>
        <!-- <ion-avatar (click)="updatePhoto()">
          <img class="" [src]="user.profileUrl" />
        </ion-avatar> -->
      </ion-col>
      <ion-col col-8>
        <div class="profile-info">
          <div class="post-count info-square">
            <p>
              <strong>1</strong><br />
              <em>post</em>
            </p>
          </div>
          <div class="follower-count info-square">
            <p>
              <strong>1532</strong><br />
              <em>followers</em>
            </p>
          </div>
          <div class="following-count info-square">
            <p>
              <strong>200</strong><br />
              <em>following</em>
            </p>
          </div>
        </div>
        <div>
          <button
            ion-button
            class="follow-button"
            (click)="showFooterMenu = !showFooterMenu"
          >
            Switch Profile
            <ion-icon name="chevron-down"></ion-icon>
          </button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="more-details">
    <p class="user-name"><strong>{{ profileName }}</strong></p>
  </div>
  <ion-button color="light" expand="full" [routerLink]="['edit']"
    >Edit Profile</ion-button
  >

  <ion-segment color="primary">
    <ion-segment-button value="posts" selected>
      <ion-icon name="grid"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="tagged">
      <ion-icon name="contacts"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="bookmark">
      <ion-icon name="bookmark"></ion-icon>
    </ion-segment-button>
  </ion-segment>

  <ion-grid class="image-grid">
    <ion-row class="single-row">
      <ion-col col-4 class="single-image">
        <img
          height="100%"
          width="100%"
          src="https://res.cloudinary.com/og-tech/image/upload/q_40/v1506850322/blog_g3mexb.jpg"
        />
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- <app-expandable
    [expandHeight]="expandHeight"
    [expanded]="showFooterMenu"
    class="fixed-bottom"
  >
    <ion-list>
      <ion-radio-group value="{{businessId}}">
        <ion-list-header>
          <ion-label> Accounts </ion-label>
          <ion-icon
            position="end"
            style="margin-right: 20px"
            name="close-circle-outline"
            (click)="showFooterMenu = false;"
          ></ion-icon>
        </ion-list-header>

        <ion-item (click)="changeBusiness(0)">
          <ion-avatar position="start" class="avatar-small">
            <img src="{{user.profileUrl}}" />
          </ion-avatar>
          <ion-label>{{user.userName}}</ion-label>
          <ion-radio value="0"></ion-radio>
        </ion-item>

        <ion-item *ngFor="let b of businesses" (click)="changeBusiness(b.id)">
          <ion-avatar position="start" class="avatar-small">
            <img src="{{b.logoUrl}}" />
          </ion-avatar>
          <ion-label>{{b.name}}</ion-label>
          <ion-radio value="{{b.id}}"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>
  </app-expandable> -->
</ion-content>

<app-bottom-toolbar></app-bottom-toolbar>
