<ion-content class="ion-padding" [fullscreen]="true">
  <!-- <div class="main_img">
    <div
      class="img"
      [style.backgroundImage]="'url(assets/Color-Logo-350x150.png)'"
    ></div>
  </div> -->
  <img src="assets/logo/logo.png" />
  <form [formGroup]="register" (ngSubmit)="onRegister()">
    <!-- <ion-item class="form-field" lines="none" color="light">
        <ion-icon name="person"></ion-icon>
        <ion-input
          type="text"
          placeholder="First name"
          formControlName="firstName"
        ></ion-input>
      </ion-item>
      <app-form-errors
        [errors]="errorMessages.firstName"
        [item]="firstName"
      ></app-form-errors>

      <ion-item class="form-field" lines="none" color="light">
        <ion-icon name="person"></ion-icon>
        <ion-input
          type="text"
          placeholder="Last name"
          formControlName="lastName"
        ></ion-input>
      </ion-item>
      <app-form-errors
        [errors]="errorMessages.lastName"
        [item]="lastName"
      ></app-form-errors> -->
    <ion-list>
      <ion-item class="form-field" lines="none" color="light">
        <ion-icon name="person"></ion-icon>
        <ion-input
          aria-label="username"
          type="text"
          placeholder="Username"
          formControlName="username"
        ></ion-input>
      </ion-item>
      <app-form-errors
        [errors]="errorMessages.username"
        [item]="username"
      ></app-form-errors>

      <ion-item class="form-field" lines="none" color="light">
        <ion-icon name="mail"></ion-icon>
        <ion-input
          aria-label="email"
          type="email"
          placeholder="Email"
          formControlName="email"
        ></ion-input>
      </ion-item>
      <app-form-errors
        [errors]="errorMessages.email"
        [item]="email"
      ></app-form-errors>

      <ion-item class="form-field" lines="none" color="light">
        <ion-icon name="lock-closed"></ion-icon>
        <ion-input
          aria-label="password"
          [type]="hide?'password':'text'"
          placeholder="Password"
          formControlName="password"
          autocomplete="new-password"
        ></ion-input>
        <ion-icon
          (click)="hide= !hide"
          class="ion-icon-right cursor-pointer"
          [name]="hide?'eye':'eye-off'"
        ></ion-icon>
      </ion-item>
      <ion-item lines="none" color="light">
        <ion-grid class="validation-list">
          <ion-row
            class="validation-list"
            [ngClass]="password.errors?.[p.type]?'danger':'success'"
            *ngFor="let p of errorMessages.password"
          >
            <ion-icon
              [color]="password.errors?.[p.type]?'danger':'success'"
              [name]="password.errors?.[p.type]?'close-circle':'checkmark-circle'"
            ></ion-icon>
            <ion-label aria-label="error">{{p.message}}</ion-label>
          </ion-row>
        </ion-grid>
      </ion-item>

      <ion-item lines="none" color="light" class="ion-no-inner-padding-end">
        <ion-icon name="lock-closed"></ion-icon>
        <ion-input
          aria-label="confirm password"
          [type]="cHide?'password':'text'"
          placeholder="Password (Confirm)"
          formControlName="cpassword"
        >
        </ion-input>
        <ion-icon
          (click)="cHide= !cHide"
          class="ion-icon-right cursor-pointer"
          [name]="cHide?'eye':'eye-off'"
        ></ion-icon>
      </ion-item>
      <app-form-errors
        [errors]="errorMessages.cpassword"
        [item]="cpassword"
      ></app-form-errors>

      <ion-item lines="none" color="light" class="ion-no-inner-padding-end">
        <ion-toggle aria-label="is a business" formControlName="isBusiness">
          Are You a Business
        </ion-toggle>
      </ion-item>

      <ion-item lines="none" color="light">
        <ion-button
          [disabled]="!register.valid"
          class="w-100"
          type="submit"
          color="primary"
          expand="block"
        >
          Register
        </ion-button>
      </ion-item>
      <ion-item lines="none" color="light">
        <div class="sub_div">
          <ion-text>
            By pressing Sign Up, you agree to the service's
            <a [routerLink]="['/terms-of-service']">Terms of Service</a>
            and
            <a [routerLink]="['/privacy-policy']">Privacy Policy</a>
          </ion-text>
        </div>
      </ion-item>
      <ion-item lines="none" color="light">
        <h6>
          You have already an account please
          <span [routerLink]="[ '/login' ]">Log in !</span>
        </h6>
      </ion-item>
    </ion-list>
  </form>
</ion-content>
